<mat-card>
  <mat-toolbar color="primary">
    <span>Create a wager</span>
  </mat-toolbar>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Type of sport that is live</mat-label>
      <input matInput #searchInput (input)="onSearch(searchInput.value)">
    </mat-form-field>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="game">
        <mat-header-cell *matHeaderCellDef>Game</mat-header-cell>
        <mat-cell *matCellDef="let game">{{ game }}</mat-cell>
      </ng-container>
      <mat-row *matRowDef="let row; columns: ['game']"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
