<mat-toolbar color="primary">
  <span style="flex: 1 1 100%;">Search for a Game</span>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <form [formGroup]="gamesForm">
      <mat-form-field>
        <input matInput formControlName="searchQuery" placeholder="Enter teams, date, or location">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchForGames()">Search</button>
    </form>
    <mat-table [dataSource]="searchResults">
      <ng-container matColumnDef="away_team">
        <mat-header-cell *matHeaderCellDef>Away Team</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.away_team.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="home_team">
        <mat-header-cell *matHeaderCellDef>Home Team</mat-header-cell>
        <mat-cell *matCellDef="let event">{{event.home_team.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let event">{{ event.time.start * 1000 | date: 'mediumDate' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
        <mat-cell *matCellDef="let event">{{ event.time.start * 1000 | date: 'shortTime' }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let event; columns: displayedColumns;" (click)="onRowClick(event)">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
