<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Inbox</span>
</mat-toolbar>

<div style="display: flex; height: 100vh;">
  <mat-drawer-container style="width: 30%; height: 100vh;">
    <mat-drawer #drawer mode="side" style="height: 100%; overflow-y: auto;">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button color="primary">Compose</button>
        </mat-list-item>
        <br>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>inbox</mat-icon>
          <span>Inbox</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>send</mat-icon>
          <span>Sent</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>drafts</mat-icon>
          <span>Drafts</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>spam</mat-icon>
          <span>Spam</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>delete</mat-icon>
          <span>Trash</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content style="height: 100%; width: 80%; margin-left: 132px">
      <mat-nav-list>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
        <mat-list-item>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer-content>
  </mat-drawer-container>

  <div style="width: 63%; height: 100vh; padding: 5px;">
    <div style="display: flex; align-items: center; margin-bottom: 20px;">
      <img src="https://via.placeholder.com/50x50" alt="Profile Icon" style="margin-right: 10px;">
      <div>
        <div style="font-weight: bold;">John Doe</div>
        <div>March 24, 2023</div>
      </div>
    </div>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
    <div style="margin-top: 20px;">
      <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="showReplyBox = true">Reply</button>
      <button mat-raised-button color="primary" style="margin-right: 10px;">Reply All</button>
      <button mat-raised-button color="primary">Forward</button>
    </div>
    <div *ngIf="showReplyBox" style="margin-top: 20px;">
      <textarea placeholder="Type your reply here" style="width: 100%; height: 200px;"></textarea>
      <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 10px; background-color: #f3f8ff; padding: 10px;">
        <div>
          <button mat-icon-button color="warn">
            <mat-icon>attach_file</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>insert_emoticon</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>insert_photo</mat-icon>
          </button>
        </div>
        <div>
          <button mat-raised-button color="accent" style="margin-right: 10px;">Discard</button>
          <button mat-raised-button color="primary">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
