<div class="admin-panel">
  <h2>User Management</h2>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
    <span>Menu</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Dashboard</button>
    <button mat-menu-item>Users</button>
    <button mat-menu-item>Settings</button>
  </mat-menu>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
    </tr>
    </tbody>
  </table>
</div>
