.admin-panel {
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #eee;
  padding: 10px;
  text-align: left;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
}

.mat-menu-panel {
  width: 100vw !important;
}
.mat-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
