<div style="display: flex; flex-wrap: wrap;">
  <div style="margin-right: 20px;">
    <mat-card class="example-card" style="border-radius: 20px; width: 300px; height: 250px;">
      <img mat-card-image [src]="'https://scontent-jnb1-1.xx.fbcdn.net/v/t1.6435-1/133812401_2516345192005825_3180119057513949253_n.jpg?stp=dst-jpg_p200x200&_nc_cat=107&ccb=1-7&_nc_sid=7206a8&_nc_ohc=SBO1i9AOul4AX8eGYpE&_nc_ht=scontent-jnb1-1.xx&oh=00_AfDINA5MRDQcAs6RdQzssDW07rNTDCKGlejkRi8Ipdst8Q&oe=645F4D67'" alt="Photo of a Shiba Inu" style="display:block; margin:auto;padding-top: 5px; border-radius:50%; width: 150px; height: 150px;">
      <mat-card-content style="text-align: center;">
        <h1 style="font-weight: bolder;padding-top: 20px">Randall</h1>
      </mat-card-content>
      <p style="text-align: center;">Guest</p>
    </mat-card>
  </div>

  <div style="flex: 1;padding-top: 15%;padding-bottom: 2%">
    <mat-card  class="user-profile">

      <mat-card-content>
        <!-- row with 3 colums-->
        <div fxLayout="row" >
          <div style="margin-right: 10px;">
            <div>
              <mat-label>Company</mat-label>
              <p>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Placeholder">

                </mat-form-field>
              </p>
            </div>
          </div>
          <div style="margin-right: 10px;">
            <div>
              <mat-label>Username</mat-label>
              <p>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Placeholder">

                </mat-form-field>
              </p>
            </div>
          </div>
          <div >
            <div>
              <mat-label>Email Address</mat-label>
              <p>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Placeholder">

                </mat-form-field>
              </p>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
