<h2 style="margin: 10px 10px 10px 45px">User Profile</h2>
<div class="profile-pic">
  <img [src]="user?.photoUrl" alt="Profile Picture" *ngIf="user?.photoUrl"
       style="border-radius: 50%; width: 180px; height: 170px;">
  <label >
    <mat-icon style="color: darkcyan">camera_alt</mat-icon>
  </label>
  <input id="file-input" type="file" style="display: none;">
</div>
<mat-divider></mat-divider>
<br>
<div style="text-align: center">
  <h4 style="margin: 0px 7px -29px 38px">Edit Information</h4>
  <mat-icon style="margin: 5px 127px -3px -12px;color: darkcyan">edit</mat-icon>
</div>

