<h2 style="margin: 10px 10px 10px 45px">User Profile</h2>
<div class="profile-pic">


  <label >
    <mat-icon style="color: darkcyan">camera_alt</mat-icon>
  </label>
  <input id="file-input" type="file" style="display: none;">
</div>
<mat-divider></mat-divider>
<br>
<div style="text-align: center">
  <h4 style="margin: 0px 7px -29px 38px">Edit Information</h4>
  <mat-icon style="margin: 5px 127px -3px -12px;color: darkcyan">edit</mat-icon>
</div>
<mat-divider></mat-divider>
<br>
<form [formGroup]="userInfoForm">
<div style="display: flex; align-items: center;">
  <label style="margin: 11px 22px -13px 6px;">First Name:</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" formControlName="firstName" required>
  </mat-form-field>
  <mat-label style="margin: 11px 22px -13px 8%;">Email:</mat-label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" formControlName="email" required>
  </mat-form-field>
  <label style="margin: 11px 22px -13px 8%;">Password:</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" type="password" formControlName="password" required>
  </mat-form-field>
</div>
<div style="display: flex; align-items: center;">
  <label style="margin: 11px 36px -13px 6px;">Surname:</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" formControlName="surname" required>
  </mat-form-field>
  <label style="margin: 11px 22px -13px 8%;">Phone:</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" formControlName="phone" required>
  </mat-form-field>

</div>
<div style="display: flex; align-items: center;">
  <label style="margin: 11px 22px -13px 6px;">ShortName:</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" formControlName="shortname" required>
  </mat-form-field>
  <label style="margin: 11px 22px -13px 8%;">Gender:</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" formControlName="gender" required>
  </mat-form-field>

</div>

<div style="text-align: left">
  <h4 style="margin: 16px -1px 27px 5px;font-weight: bold">Service Intergrations</h4>

</div>
<div style="display: flex; align-items: center;">
  <label style="margin: 11px 22px -13px 6px;">ShortName:</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" formControlName="shortName" required>
  </mat-form-field>
  <label style="margin: 11px 22px -13px 8%;">Projects:</label>
  <mat-form-field appearance="fill">
    <input matInput placeholder="" formControlName="gender" required>
  </mat-form-field>

</div>
</form>
