<div class="register-form-container">


  <form [formGroup]="signupForm" (ngSubmit)="handleSignup()" class="register-form">
    <div class="register-form-header">
      <img src="assets/logo-icon.png" alt="logo" class="logo">
      <h1 class="register-form-heading">REGISTRATION FORM</h1>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter your name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput  formControlName="email" placeholder="Enter your email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter your password" type="password">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid" >Register</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
