.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1552749412-091909ed9f82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') no-repeat center center fixed;
  background-size: cover;
}

.register-form-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.register-form-heading {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 2px black;
  margin: 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}
